# Python
env/
__pycache__/
*.pyc
*.pyo
.Python

# Secrets
.env

# Data (personal — don't upload)
data/coie.db
data/seen_hashes.json
scorer/resume.pdf

# Logs
logs/

# OS
.DS_Store
Thumbs.db

#Dashboard
dashboard/node_modules/
dashboard/dist/

#Testing Files
testing/